
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .avatar_image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
    }

    td {
        padding: 20px;
        text-align: center;
        width: 40%;
    }

    p {
        font: bold 20px roboto;
    }

    .td_information {
        margin-top: 30px;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
        background-color: white;
        object-position: center;
        object-fit: contain;
    }


</style>

<div style="margin-top: -25px">
    @*<table>
        <tr>
            <td>
                <img class="avatar_image" src="~/Images/thangvip.jpg" />
                <div class="td_information">
                    <p>Nguyễn Đức Thắng</p>
                    <p>(+84)356 906 683</p>
                    <p>Email: thangvip@gmail.com</p>
                </div>
            </td>
            <td>
                <img class="avatar_image" src="~/Images/thangvip.jpg" />
                <div class="td_information">
                    <p>Nguyễn Đức Thắng</p>
                    <p>(+84)356 906 683</p>
                    <p>Email: thangvip@gmail.com</p>
                </div>
            </td>
            <td>
                <img class="avatar_image" src="~/Images/thangvip.jpg" />
                <div class="td_information">
                    <p>Nguyễn Đức Thắng</p>
                    <p>(+84)356 906 683</p>
                    <p>Email: thangvip@gmail.com</p>
                </div>
            </td>
            <td>
                <img class="avatar_image" src="~/Images/thangvip.jpg" />
                <div class="td_information">
                    <p>Nguyễn Đức Thắng</p>
                    <p>(+84)356 906 683</p>
                    <p>Email: thangvip@gmail.com</p>
                </div>
            </td>
        </tr>
    </table>*@
    <table>
        <tr>
            <td>
                <img class="avatar_image" src="~/Images/thangvip.jpg" />
            </td>
            <td>
                <div class="td_information">
                    <p>Nguyễn Đức Thắng</p>
                    <p>(+84)356 906 683</p>
                    <p>Email: dongtatq97@gmail.com</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <img class="avatar_image" src="~/Images/congvu.jpg" />
            </td>
            <td>
                <div class="td_information">
                    <p>Vũ Minh Công</p>
                    <p>(+84)973 391 255</p>
                    <p>Email: minhcong.vu26@gmail.com</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <img class="avatar_image" src="~/Images/thinh.jpg" />
            </td>
            <td>
                <div class="td_information">
                    <p>Đặng Hùng Thịnh</p>
                    <p>(+84)984 401 412</p>
                    <p>Email: danghungthinh01051999@gmail.com</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <img class="avatar_image" src="~/Images/thang2.jpg" />
            </td>
            <td>
                <div class="td_information">
                    <p>Đỗ Đức Thắng</p>
                    <p>(+84)349 937 786</p>
                    <p>Email: thangcoibg1999@gmail.com</p>
                </div>
            </td>
        </tr>
    </table>
</div>

